/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Clear default styles
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  /* line-height: 1; */
  maring: 0px;
  padding: 0px;
  margin: 0px;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Styling
*/

body, .city-dropdown {
  font-family: 'Josefin Sans', sans-serif;
}

.weather-container {
  text-align: center;
}

.weather-header {
  font-size: 2em;
  margin: 1% 2%;
}

.city-dropdown {
  margin: 1% 2%;
  padding: 0.6%;
  font-size: 0.8em;
  position: relative;
  display: inline-block;
  color: #333333;
  border: 0;
  border-radius: 2px;
  outline: 0;
  background: #95B8D1;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.city-dropdown:hover {
  color: #333333;
  background: #DBCDC6;
}

.view-city {
  font-weight: bold;
}

.weather-list-item {
  display: inline-block;
  margin: 3%;
  padding: 1%;
  border: 0.1em solid #333333;
  font-size: 1.1em;
}

.date {
  font-weight: bold;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px) 
and (max-device-width : 740px) {
/* Styles */
  .weather-list-item {
    display: block;
    margin: 3%;
    padding: 1%;
    border: 0.1em solid black;
  }
}