/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Clear default styles
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  /* line-height: 1; */
  maring: 0px;
  padding: 0px;
  margin: 0px;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Styling
*/

body,
html {
  overflow: hidden;
}

body {
  background: #EEEEEE;
  color: #333333;
}

body, .city-dropdown {
  font-family: 'Montserrat', sans-serif;
}

.weather-container {
  text-align: center;
}

.weather-header {
  font-size: 2.3em;
  font-weight: bold;
  margin: 1%;
}

.dropdown,
.input {
  display: inline;
}

.city-dropdown {
  text-align: center;
  margin: 0.5% 1%;
  padding: 0.6%;
  font-size: 1em;
  position: relative;
  display: inline-block;
  color: #333333;
  border: 0;
  border-radius: 2px;
  outline: 0;
  background: #9BC1BC;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.city-input {
  padding: 0.5%;
  border: 0.5em solid #95B8D1;
  transition: border 0.3s;
  outline: none;
}

.city-input:focus {
  border: 0.5em solid #8C93A8;
}

.forecast-days {
  width: 100%;
  height: 100%;
  margin-top: 2%;
  border-top: 0.2em solid #797B84;
}

.today-forecast {
  margin-top: 0.8%;
  width: 49%;
  padding: 1%;
  float: left;
  font-size: 1.2em;
}

.today-date {
  margin-bottom: 2%;
  font-weight: bold;
  font-size: 1.4em;
}

.today-area,
.today-icon-contain {
  margin-top: 5%;
  padding-top: 4%;
  font-size: 1.3em;
  border-top: 0.1em solid rgba(51, 51, 51, 0.30);
}

.today-high-temp,
.today-low-temp,
.high-temp,
.low-temp {
  padding: 0.5%;
}

.high-temp-icon {
  color: #EF2917;
}

.low-temp-icon {
  color: #3772FF;
}

.today-area {
  font-weight: bold;
}

.today-icon {
  width: auto;
  height: auto;
  max-width: 20%;
  max-height: 20%;
}

.today-high-temp,
.today-low-temp,
.today-description {
  margin: 1% 0;
}

.forecast-container {
  width: 49%;
  height: 25em;
  float: right;
  margin-top: 4%;
  width: 49%;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
}

.weather-list-item {
  background: rgba(220, 206, 199, 0.30);
  display: block;
  margin: 3%;
  padding: 1%;
  border: 0.1em solid rgba(51, 51, 51, 0.30);
  font-size: 1.1em;
  width: 90%;
  height: 5em;
}

.date-desc {
  width: 30%;
  height: 100%;
  float: left;
}

.info {
  width: 70%;
  height: 100%;
  float: right;
}

.day {
  font-size: 1.1em;
}

.date {
  font-size: 0.9em;
}

.description {
  font-size: 0.7em;
}

.day,
.date {
  font-weight: bold;
}

.day,
.date,
.description {
  text-align: left;
  margin: 5%;
}

.temp {
  width: 40%;
  float: right;
}

.icon {
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 80%;
}

/* Smartphones (portrait) ----------- */
@media only screen
and (min-device-width : 320px) 
and (max-device-width : 420px) {
/* Styles */
  .today-icon {
    width: auto;
    height: auto;
    max-width: 30%;
    max-height: 30%;
  }

  .forecast-container {
    margin-top: 5%;
    text-align: center;
    width: 49%;
    height: 21em;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
  }

  .weather-list-item {
    display: block;
    margin: 3%;
    padding: 1%;
    border: 0.1em solid rgba(51, 51, 51, 0.30);
    max-width: 100%;
  }

  .day {
    font-size: 0.5em;
  }

  .date {
    font-size: 0.4em;
  }

  .description {
    font-size: 0.2em;
  }

  .icon {
    margin-top: 10%;
    width: auto;
    height: auto;
    max-width: 40%;
    max-height: 40%;
  }

  .high-temp,
  .low-temp {
    font-size: 0.8em;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-device-width : 560px) 
and (max-device-width : 740px) {
  .weather-header {
    font-size: 2em;
    font-weight: bold;
    margin-top: 1%;
  }

  .city-dropdown {
    font-size: 0.8em;
  }

  .today-forecast {
    width: 100%;
    margin-top: 2%;
    padding: 1%;
    font-size: 0.8em;
  }

  .today-date {
    margin-bottom: 1%;
    font-weight: bold;
    font-size: 1.2em;
  }

  .today-area,
  .today-icon-contain {
    margin-top: -3%;
    /*padding-top: 2%;*/
    font-size: 1em;
    /*border-top: 0.1em solid rgba(51, 51, 51, 0.30);*/
    border: none;
  }

  .today-info {
    width: 40%;
    float: left;
  }

  .today-icon-contain {
    width: 60%;
    float: right;
  }

  .today-high-temp,
  .today-low-temp,
  .today-description {
    margin: 0.3% 0;
  }

  .forecast-container {
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .today-icon {
    width: auto;
    height: auto;
    max-width: 20%;
    max-height: 20%;
  }

  .weather-list-item {
    display: inline-block;
    margin: 3%;
    padding: 1%;
    border: 0.1em solid rgba(51, 51, 51, 0.30);
    max-width: 40%;
  }

  .day {
    font-size: 0.8em;
  }

  .date {
    font-size: 0.7em;
  }

  .description {
    font-size: 0.5em;
  }

  .icon {
    margin-top: 1%;
    width: auto;
    height: auto;
    max-width: 70%;
    max-height: 70%;
  }

  .high-temp,
  .low-temp {
    font-size: 0.8em;
  }
}